<link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
<div id="home">
  <div class="container text-center mt-3">
    <div class="row mt-3">
      <div class="col-12 mt-3">
        <h1>Welcome to SharkNo!</h1>
          <p class="text">We don't have anything against sharks, per se. They have their place in the food chain. We just don't want to be below them in that chain. Probably you don't either. Use our site to find out about shark sightings and attacks at the beach where you're going. Or, report what you've seen to warn others. To start, choose Search or Report. </p>
       <a href="https://www.ocearch.org/tracker/?list" class="mt-4" style="  text-decoration: none;
">See some maps</a>
        <br/>
         <br/>
        <button id="openSubmitForm" class="btns" >Report</button>
        <button id="openSearchForm" 
>Search</button>
        <div id="formReportSection" title="Submission Form" style=" font-family: 'Fredoka One', cursive;">
        <div id="noSubmit"></div>
          <div class="row align-middle">
    <div class="col-3">
      <form class="clearfix mb-4" action="POST">
        <div class='form-group date' id='datetimepicker6'>
          <label for="date">Date of Incident (DD/MM/YYYY)</label>
          <input type="text" id="date" class="form-control" aria-describedby="date" placeholder="Enter date">
        </div>
        </div>
    <div class="col-3">
      <div class="form-group">
        <label for="country">Country </label>
        <input type="text" id="country" class="form-control" aria-describedby="country" placeholder="Enter Country">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="area">Area (like a state) </label>
        <input type="text" id="area" class="form-control" aria-describedby="area" placeholder="Enter Area">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="location">Location (like a city)</label>
        <input type="text" id="location" class="form-control" aria-describedby="location" placeholder="Enter location">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
     <div class="form-group">
        <label for="year">Year</label>
        <input type="text" id="year" class="form-control" aria-describedby="year" placeholder="Enter Year">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="activity">Activity (Surfing etc...) </label>
        <input type="text" id="activity" class="form-control" aria-describedby="activity" placeholder="Enter activity">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="species">Species (Tiger shark etc..) </label>
        <input type="text" id="species" class="form-control" aria-describedby="species" placeholder="Enter species">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="type">Was the event provoked?</label>
        <input type="text" id="type" class="form-control" aria-describedby="type" placeholder="Provoked/Unprovoked">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <div class="form-group">
        <label for="injury">Events</label>
        <input style="height: 200px; text-align:left;"  type="text" id="injury" class="form-control" aria-describedby="injury"
          placeholder="Please describe the events that transpired here.">
      </div>

      <div class="form-group">
        <label for="pdf">Please Include an Article Link for the Incident (if possible)</label>
        <input type="text" id="pdf" class="form-control" aria-describedby="pdf" placeholder="Enter URL (like http://google.com)">
      </div>
      
    </div>
  </div>
  </form>
</div>
<div id="formSearchSection" title="Search Form" style=" font-family: 'Fredoka One', cursive;">
          <div class="row">
    <div class="col-6">
      <form class="clearfix mb-4" action="POST">
        <div class="form-group">
        <label for="yearSearch">Year</label>
        <input type="text" id="yearSearch" class="form-control" aria-describedby="yearSearch" placeholder="Enter Year">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="countrySearch">Country </label>
        <input type="text" id="countrySearch" class="form-control" aria-describedby="countrySearch" placeholder="Enter Country">
      </div>
    </div>
    </div>
    <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="areaSearch">Area (like a state) </label>
        <input type="text" id="areaSearch" class="form-control" aria-describedby="areaSearch" placeholder="Enter Area">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="locationSearch">Location (like a city)</label>
        <input type="text" id="locationSearch" class="form-control" aria-describedby="locationSearch" placeholder="Enter location">
      </div>
    </div>
  </div>
  </form>
</div>
        </div>
        </div>
        <div id="examplePage">
          <h3 class="mt-3">Reports :</h3>
        <ul id="example-list" class="list-group" >
          {{!-- examples go here --}}
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer" style="font-size: 30px;">
<p>| 
<span><a class="gitlink"href="https://github.com/dziubliukbm"><img src="/img/git.png" style="height: 40px; width:40px;"> Bohdan Dziubliuk</a>  | </span>
<span><a class="gitlink" href="https://github.com/smrogers93"><img src="/img/git.png" style="height: 40px; width:40px;"> Steve Rogers</a>  | </span>
<span><a class="gitlink" href="https://github.com/BlasteriskVon"><img src="/img/git.png" style="height: 40px; width:40px;"> Andrew Vaughns</a>  | </span>
<span><a class="gitlink" href="https://rmwalls.github.io/"><img src="/img/git.png" style="height: 40px; width:40px;"> Robbi Walls</a>  |</span>
</p>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/index.js"></script>
